### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [71]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [72]:
total_schools=school_data['school_name'].count()
total_students=student_data['student_name'].count()
total_budget=school_data['budget'].sum()
average_math_score=round(student_data['math_score'].mean(),2)
average_reading_score=round(student_data['reading_score'].mean(),2)

#Average for Math Scores --> needs a loop
count_math_score = 0
for x in student_data['math_score']:
    if x >= 70:
        count_math_score = count_math_score +1  
passing_percent_math= round((count_math_score/total_students)*100,2)

#Average for Reading Scores --> needs a loop
count_reading_score = 0
for y in student_data['reading_score']:
    if y >= 70:
        count_reading_score = count_reading_score +1  
passing_percent_reading=round( (count_reading_score/total_students)*100,2)

#Average for Overall Scores --> needs a loop
count_overall_score = 0
for i,score in student_data.iterrows():
    if (student_data['reading_score'][i] >= 70) & (student_data['math_score'][i] >= 70):
        count_overall_score = count_overall_score +1  
passing_percent_overall=round( (count_overall_score/total_students)*100,2)

district_summary_df = pd.DataFrame({"Total Schools":[total_schools],"Total Students":[total_students],"Total Budget":[total_budget],
                                   "Average Math Score":[average_math_score],"Average Reading Score":[average_reading_score],"% Passing Math":[passing_percent_math],
                                   "% Passing Reading":[passing_percent_reading],"% Overall Passing":[passing_percent_overall]})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [75]:
#Groupby School to get the stats for all the values 
school_name = school_data_complete.groupby(["school_name"])

#Values to determine
school_type = school_name["type"].first()
total_students= school_name["student_name"].size()
total_school_budget= school_name["budget"].first()
per_student_budget= total_school_budget/total_students
average_math_score=school_name["math_score"].mean()
average_reading_score=school_name["reading_score"].mean()
percent_passing_math= ((student_data[student_data["math_score"]>=70.0].groupby(["school_name"]).size())/total_students)*100
percent_passing_reading= ((student_data[student_data["reading_score"]>=70.0].groupby(["school_name"]).size())/total_students)*100
percent_passing_overall= (student_data[(student_data["reading_score"]>=70.0) & (student_data["math_score"]>=70.0)].groupby("school_name")["Student ID"].count()/total_students)*100

school_summary_df = pd.DataFrame({
    
                    "School Type":school_type,
                    "Total Students":total_students,
                    "Total School Budget":total_school_budget,
                    "Per Student Budget":per_student_budget,
                    "Average Math Score":average_math_score,
                    "Average Reading Score":average_reading_score,
                    "% Passing Math":percent_passing_math,
                    "% Passing Reading":percent_passing_reading,
                    "% Overall Passing":percent_passing_overall})
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [78]:
top_performing_schools = school_summary_df.sort_values("% Overall Passing", ascending=False).head(5)
top_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [80]:
bottom_performing_schools = school_summary_df.sort_values("% Overall Passing", ascending=True).head(5)
bottom_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type