In [1]:
import pandas as pd

In [18]:
# Create a reference to the CSV and import it into a Pandas DataFrame
csv_path = "Resources/EclipseBugs.csv"
eclipse_df=pd.read_csv(csv_path)
eclipse_df.columns

Index(['Bug\nID', 'Product', 'Component', 'Assignee', 'Status', 'Resolution',
       'Summary', 'Changed', 'Assignee\nReal\nName', 'Classification',
       'Hardware', 'Number of\nComments', 'Opened', 'OS', 'Priority',
       'Reporter', 'Reporter\nReal\nName', 'Severity', 'Target\nMilestone',
       'Version', 'Votes'],
      dtype='object')

In [20]:
eclipse_df  = eclipse_df.rename(columns = {'Bug\nID':"Bug Id", 'Assignee\nReal\nName':"Assignee Real Name",
                                           'Number of\nComments':"Number of Comments",'Reporter\nReal\nName':"Reporter Real Name", 'Target\nMilestone':"Target Milestone"})

In [21]:
# Finding the average number of comments per bug
average_comments = eclipse_df["Number of Comments"].mean()
average_comments

8.75

In [22]:
# Grouping the DataFrame by "Assignee"
assignee_group = df.groupby("Assignee")

# Count how many of each component Assignees worked on and create DataFrame
assignee_work_df = pd.DataFrame(assignee_group["Component"].value_counts())
assignee_work_df.head()

                                Component
Assignee       Component
Aaron_Ferguson UI                      10
Adam_Schlegel  UI                       7
ChrisAustin    User Assistance          3
Claude_Knaus   UI                      31
               Text                     7

In [23]:
# Rename the "Component" column to "Component Bug Count"
assignee_work_df = assignee_work_df.rename(
    columns={"Component": "Component Bug Count"})
assignee_work_df.head()

                                Component Bug Count
Assignee       Component
Aaron_Ferguson UI                                10
Adam_Schlegel  UI                                 7
ChrisAustin    User Assistance                    3
Claude_Knaus   UI                                31
               Text                               7

In [25]:
# Find the percentage of bugs overall fixed by each Assignee
total_bugs = assignee_group["Assignee"].count()
bugs_per_user = assignee_group["Component"].value_counts()

user_bug_percent_df = pd.DataFrame((bugs_per_user/total_bugs)*100)
user_bug_percent_df.head()

                                         0
Assignee       Component
Aaron_Ferguson UI               100.000000
Adam_Schlegel  UI               100.000000
ChrisAustin    User Assistance  100.000000
Claude_Knaus   UI                81.578947
               Text              18.421053

In [26]:
# Rename the "Assignee" column to "Percent of Total Bugs Assigned"
user_bug_percent_df = user_bug_percent_df.rename(
    columns={"Assignee": "Percent of Total Bugs Assigned"})

# Reset the index for this DataFrame so "Assignee" is a column
user_bug_percent_df = user_bug_percent_df.reset_index()
user_bug_percent_df.head()

         Assignee        Component           0
0  Aaron_Ferguson               UI  100.000000
1   Adam_Schlegel               UI  100.000000
2     ChrisAustin  User Assistance  100.000000
3    Claude_Knaus               UI   81.578947
4    Claude_Knaus             Text   18.421053

In [27]:
# Reset the index of "assignee_group" so that "Assignee" and "Component" are columns
assignee_work_df = assignee_work_df.reset_index()

In [28]:
# Merge the "Percent of Total Bugs Assigned" into the DataFrame
assignee_work_df = assignee_work_df.merge(user_bug_percent_df, on="Component")
assignee_work_df.head()

       Assignee_x Component  Component Bug Count       Assignee_y           0
0  Aaron_Ferguson        UI                   10   Aaron_Ferguson  100.000000
1  Aaron_Ferguson        UI                   10    Adam_Schlegel  100.000000
2  Aaron_Ferguson        UI                   10     Claude_Knaus   81.578947
3  Aaron_Ferguson        UI                   10   Curtis_Windatt   50.000000
4  Aaron_Ferguson        UI                   10  Karice_McIntyre  100.000000