# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = pd.read_csv("weather_df.csv")
clean_cities = cities.dropna()
del clean_cities["Unnamed: 0"]
clean_cities

,City,Country,Date,Lat,Lng,Cloudiness,Humidity,Max Temp,Wind Speed
1,abashiri,JP,2021-03-13 23:02:16,44.0213,144.2697,75.0,65.0,38.26,5.14
3,punta arenas,CL,2021-03-13 23:02:04,-53.1500,-70.9167,0.0,61.0,44.87,2.06
4,chervone,UA,2021-03-13 23:02:16,49.9564,28.8645,99.0,96.0,34.41,6.27
5,atuona,PF,2021-03-13 23:02:16,-9.8000,-139.0333,30.0,63.0,79.86,2.80
6,chuy,UY,2021-03-13 23:02:17,-33.6971,-53.4616,0.0,80.0,60.80,2.19
...,...,...,...,...,...,...,...,...,...
617,alihe,CN,2021-03-13 23:04:27,50.5667,123.7167,18.0,50.0,47.14,3.91
619,petropavlovka,RU,2021-03-13 23:04:28,50.6114,105.3196,100.0,57.0,14.58,6.38
620,ostrovnoy,RU,2021-03-13 23:04:28,68.0531,39.5131,98.0,92.0,14.68,4.76
621,razole,IN,2021-03-13 23:04:28,16.4833,81.8333,67.0,65.0,82.67,1.50
622,narsaq,GL,2021-03-13 23:04:28,60.9167,-46.0500,75.0,63.0,26.87,1.03

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)
# Locations
locations = clean_cities[["Lat", "Lng"]]
humidity = clean_cities["Humidity"].astype(float)

In [4]:
#Plot heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
#Add heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

  * A max temperature lower than 80 degrees but higher than 70.

  * Wind speed less than 10 mph.

  * Zero cloudiness.

In [10]:
small_city_df = clean_cities.loc[(clean_cities["Wind Speed"] <= 10) & (clean_cities["Cloudiness"]== 0) &(clean_cities["Max Temp"] >= 70) & (clean_cities["Max Temp"] <= 80)].dropna()
small_city_df

,City,Country,Date,Lat,Lng,Cloudiness,Humidity,Max Temp,Wind Speed
52,busselton,AU,2021-03-13 23:02:27,-33.6500,115.3333,0.0,50.0,71.28,2.24
61,pasni,PK,2021-03-13 23:02:29,25.2631,63.4710,0.0,68.0,74.39,0.89
71,lazaro cardenas,MX,2021-03-13 23:00:02,17.9583,-102.2000,0.0,84.0,72.34,0.57
74,port augusta,AU,2021-03-13 23:02:31,-32.5000,137.7667,0.0,48.0,71.28,6.69
109,concordia,AR,2021-03-13 23:02:39,-31.3930,-58.0209,0.0,62.0,74.26,3.13
128,sao filipe,CV,2021-03-13 23:02:43,14.8961,-24.4956,0.0,72.0,70.00,1.05
180,pitimbu,BR,2021-03-13 23:02:54,-7.4706,-34.8086,0.0,88.0,77.27,2.06
212,christchurch,NZ,2021-03-13 23:00:48,-43.5333,172.6333,0.0,56.0,70.07,7.72
287,bilma,NE,2021-03-13 23:03:17,18.6853,12.9164,0.0,13.0,73.69,2.38
288,nueva italia,PY,2021-03-13 23:03:17,-25.6167,-57.5000,0.0,57.0,79.07,2.57
306,richards bay,ZA,2021-03-13 22:58:29,-28.7830,32.0377,0.0,86.0,71.58,4.71
314,east london,ZA,2021-03-13 23:03:23,-33.0153,27.9116,0.0,83.0,71.87,3.09
338,harindanga,IN,2021-03-13 23:03:28,22.0383,88.3214,0.0,57.0,79.07,1.97
343,boa vista,BR,2021-03-13 22:58:47,2.8197,-60.6733,0.0,83.0,77.27,1.03
358,bethlehem,BR,2021-03-13 23:03:33,-1.4558,-48.5044,0.0,94.0,75.47,2.06
385,celestun,MX,2021-03-13 23:03:39,20.8667,-90.4000,0.0,73.0,76.14,7.03
387,yining,CN,2021-03-13 23:03:39,29.0361,114.5636,0.0,58.0,73.20,0.81
490,cabedelo,BR,2021-03-13 23:04:01,-6.9811,-34.8339,0.0,88.0,75.47,1.54
529,the valley,AI,2021-03-13 23:04:08,18.2170,-63.0578,0.0,83.0,77.27,1.03
533,porbandar,IN,2021-03-13 23:04:09,21.6422,69.6093,0.0,57.0,75.47,3.09
542,hanmer springs,NZ,2021-03-13 23:04:11,-42.5167,172.8167,0.0,20.0,79.09,3.08
596,okato,NZ,2021-03-13 23:04:23,-39.2000,173.8833,0.0,64.0,72.27,2.24

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = small_city_df.loc[:,["City","Country","Lat","Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head()

                City Country      Lat       Lng Hotel Name
52         busselton      AU -33.6500  115.3333
61             pasni      PK  25.2631   63.4710
71   lazaro cardenas      MX  17.9583 -102.2000
74      port augusta      AU -32.5000  137.7667
109        concordia      AR -31.3930  -58.0209

In [11]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {"type" : "hotel","keyword" : "hotel","radius" : 5000,"key" : g_key}

In [8]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    params["location"] = f"{lat},{lng}"
    print(f"Retrieving Results for {city_name}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    #Save the hotel name to the dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Could not find result")
        print("-------------------------")
        #delay the code by one second to avoid an error
        time.sleep(1)

Retrieving Results for busselton.
Closest hotel in busselton is The Sebel Busselton.
Retrieving Results for pasni.
Closest hotel in pasni is Juddi Hotel.
Retrieving Results for lazaro cardenas.
Closest hotel in lazaro cardenas is Hotel de Casablanca.
Retrieving Results for port augusta.
Closest hotel in port augusta is Crossroads Ecomotel.
Retrieving Results for concordia.
Closest hotel in concordia is Hotel Del Rio.
Retrieving Results for sao filipe.
Closest hotel in sao filipe is Hotel Xaguate.
Retrieving Results for pitimbu.
Closest hotel in pitimbu is Asenza Beach Resort.
Retrieving Results for christchurch.
Closest hotel in christchurch is Fendalton Park Luxury Accommodation.
Retrieving Results for bilma.
Could not find result
-------------------------
Retrieving Results for nueva italia.
Could not find result
-------------------------
Retrieving Results for richards bay.
Closest hotel in richards bay is BON Hotel Waterfront Richards Bay.
Retrieving Results for east london.
Closest hotel in east london is Garden Court East London.
Retrieving Results for harindanga.
Could not find result
-------------------------
Retrieving Results for boa vista.
Closest hotel in boa vista is Hotel Orla do Rio Branco.
Retrieving Results for bethlehem.
Closest hotel in bethlehem is Radisson Hotel Maiorana BelÃ©m.
Retrieving Results for celestun.
Closest hotel in celestun is Playa 55 beach escape.
Retrieving Results for yining.
Closest hotel in yining is Radisson Hotel.
Retrieving Results for cabedelo.
Could not find result
-------------------------
Retrieving Results for the valley.
Closest hotel in the valley is Zemi Beach House, LXR Hotels & Resorts.
Retrieving Results for porbandar.
Closest hotel in porbandar is Lords Inn Porbandar.
Retrieving Results for hanmer springs.
Closest hotel in hanmer springs is Hanmer Springs Hotel.
Retrieving Results for okato.
Closest hotel in okato is Stony River House.

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))